<!DOCTYPE html>
<html>
  <head>
    <title>学生成绩录入系统</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="javascripts/jquery.js"></script>
  </head>
  <body>
    <header>
    	<div class="container">
    		学生成绩录入
    	</div>
    </header>
    <section>
    	<div class="container">
    		<section>
    			<form action="">
    				<div class="form-group">
    					<label>Name</label>
    					<input type="text" id="name">
    				</div>
    				<div class="form-group">
    					<label>Chinese</label>
    					<input type="text" id="chinese">
    				</div>
    				<div class="form-group">
    					<label>English</label>
    					<input type="text" id="english">
    				</div>
    				<div class="form-group">
    					<label>Math</label>
    					<input type="text" id="math">
    				</div>
    				<div>
    					<div class="add-save">
    						<input type="button" id="save" value="保存">
    					</div>
    				</div>
    			</form>
    		</section>
    	</div>
    </section>
  </body>
  <script src="/javascripts/index.js">
    </script>
</html>
